body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.controlHeader {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controlGroupText {
  margin-right: 10px;
  font-size: 15px;
}

.content {
  display: flex;
  margin-top: 5px;
  height: 86vh;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}