body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
}

.controlHeader {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.controlGroupText {
  margin-right: 10px;
  font-size: 15px;
}

.content {
  display: flex;
  margin-top: 8px;
  height:calc(97vh - 80px);
  border: 1px solid #eaeaea;
  border-radius: 8px;
}

.ant-empty-image {
  margin-top: 100px;
}

.ant-tabs-nav {
  margin-bottom: 0 !important;
}

.ant-tabs-nav-list {
  margin-left: 15px !important;
}

.ant-tabs-tab {
  padding: 5px 0 5px 0 !important;
}

.ant-tabs-content {
  height: 100% !important;
}

.ant-tabs-tabpane {
  height: 100% !important;
}